body {
    background: #C9C3BA;
}
main {

}

.main-navigation-bar {
    background: #191B1C;
}
.main-content {
    background: #F7F4EB;
    box-shadow: 5px 5px #7085A2;
}
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #191B1C; }
.My-Color-Theme-2-hex { color: #C9C3BA; }
.My-Color-Theme-3-hex { color: #F7F4EB; }
.My-Color-Theme-4-hex { color: #7085A2; }
.My-Color-Theme-5-hex { color: #3A2B2E; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(25, 27, 28, 1); }
.My-Color-Theme-2-rgba { color: rgba(201, 195, 186, 1); }
.My-Color-Theme-3-rgba { color: rgba(247, 244, 235, 1); }
.My-Color-Theme-4-rgba { color: rgba(112, 133, 162, 1); }
.My-Color-Theme-5-rgba { color: rgba(58, 43, 46, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(200, 5, 10, 1); }
.My-Color-Theme-2-hsla { color: hsla(35, 12, 75, 1); }
.My-Color-Theme-3-hsla { color: hsla(45, 42, 94, 1); }
.My-Color-Theme-4-hsla { color: hsla(214, 21, 53, 1); }
.My-Color-Theme-5-hsla { color: hsla(348, 14, 19, 1); }
